<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Sys RH</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RH.Auva.WebApp.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/departamento.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 navbar-dark">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Sys - RH</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Departamento" asp-action="Index">Departamentos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="ControlePonto" asp-action="Index">Folha de ponto</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="About">About</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">

        <div class="container mt-5">

            <div class="row">
                <span>Contatos</span>
                <div style="cursor:pointer;" class="align-content-center align-items-center justify-content-center mt-3"
                     onclick="javascript:window.open('https://www.linkedin.com/in/igor-carvalho-022b9818b/', '_blank')"
                     data-toggle="tooltip" title="In. Igor Carvalho">
                    <img src="~/imgs/linkedin-icon1.png" class="icon btn-close-white" /><a style="margin-left:5px;">Linkedin</a>
                </div>

                <div style="cursor:pointer;" class="align-content-center align-items-center justify-content-center mt-3"
                     data-toggle="tooltip" title="Email de contato">
                    <img src="~/imgs/email-icon1.png" class="icon btn-close-white" /><a style="margin-left:5px;">iggor1935@hotmail.com</a>
                </div>

            </div>
        </div>


        <div class="container mt-5">
            &copy; 2023 - Recursos Humanos - <a asp-area="" asp-controller="Home" asp-action="Privacy">About</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/UtilAjax.js" asp-append-version="true"></script>
    <script src="~/js/Departamento/departamento.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
