<div class="container-fluid mt-5">


    <h2>Desafio marcante durante a jornada</h2>
    <hr />


    <p> Minha vida sempre foi um desafio.
        Durante minha jornada, tive muitos desafios superados até o presente momento, o que fizeram por muitas vezes degustar de um aprendizado rico em experiência,
        preenchido de enorme satisfação a cada obstáculo superado.

    </p>
    <br />

    <p>
        Bom, para falar do desafio mais marcante na minha trajetória primeiro preciso mencionar o momento que fiz a transição de desenvolvedor WindowsForms para desenvolvedor de aplicações Web e APIS com .NET
        Após o primeiro emprego como desenvolvedor WindowsForms, onde permaneci 02 anos, me senti na necessidade de aprimorar meus conhecimentos em Web então foquei todo meus estudos em programação Web com AspNet MVC e Web API, onde recebi a primeira oferta para atuar como Analista Desenv. Especialista PL ( cargo atual ).
    </p>

</div>