<div class="container-fluid mt-5">


    <h2>Desafio marcante durante a jornada</h2>
    <hr />


    <p> Bom, quando se trata de descrever um desafio a abrangência dessa questão se torna enorme, já que minha vida sempre foi um desafio.</p>


    <br />
    <p>
        Para tratarmos mais especificamente, o desafio mais interessante foi a implementação da página de transferência entre contas para a corretora Ágora do Bradesco.
        Nesta implementação foi utilizado as seguintes tecnologias: C#, xUnit para Testes unitarios, HTML, CSS, Javascript, JQUERY e AJAX.
        Se tratando do Bradesco, e considerando que os frameworks baseado em npm são vulneráveis, não utilizamos aqui nem Angular e nem React.
    </p>
    <br />
    <p>
        Essa implementação foi desafiadora e uma das mais satisfatórias que tive até o momento, sobre tudo pela importância que essa implementação se teve, e pelo curto prazo que a equipe de desenvolvimento teve ( 2 semanas ), o que colaborou para o meu desenvolvimento em atividades com uma certa 'pressão' visto que as regras da Ágora e a base de dados do Bradesco são repletas de informações e milhares de tabelas, a análise se abstrai e o campo de visão precisa ser muito maior para evitar conflitos.
        Sobretudo por se tratar de uma tela onde se efetua transferência em dinheiro, a atenção é dobrada, pois não podem haver falhas.
    </p>
    <br />
    <p>
        Resumindo, consegui entregar a demanda antes do prazo com excelência, e considerado "O pai do transferência de recursos' rsrsrs.
    </p>
    <br />
    <p>
    Esta foi a minha melhor e mais marcante experiência, pois tive o prazer de desenvolver essa demanda do começo ao fim, e admirar o resultado final !
    </p>

    <br />


</div>
