@{
    ViewData["Title"] = "Home Page";
}

<div class="containter-fluid mt-5">
    <h1>Igor Helio Martins de Carvalho</h1>
    <br />
    <br />
    <h5><b>Objetivo:</b> Analista desenvolvedor .NET Pleno</h5>
    <h5><b>Pretensão salarial:</b> 7.000,00R$</h5>
    <h5><b>Data do teste:</b> 02/06/2023</h5>



    <hr />

    <div class="mt-5">
        <h2><b>Tecnologias e práticas utilizadas no desenvolvimento</b></h2>

        <table class="table mt-3">
            <thead class="table-teal">
                <tr>
                    <td>Nome / Descrição</td>
                    <td>Detalhes</td>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>.NET 6</td>
                    <td>C#</td>
                </tr>

                <tr>
                    <td>DAPPER</td>
                    <td>Pacote para manipulação de dados</td>
                </tr>

                <tr>
                    <td>xUnit</td>
                    <td>Framwork de testes unitários</td>
                </tr>
                <tr>
                    <td>TDD (Test Driven Development)</td>
                    <td>Prática de Testes unitários ( programação orientada a testes )</td>
                </tr>
                <tr>
                    <td>MySql</td>
                    <td>Banco de dados</td>
                </tr>

                <tr>
                    <td>DDD (Arquitetura em camadas)</td>
                    <td>(Domain Driven Design)</td>
                </tr>

                <tr>
                    <td>SOLID</td>
                    <td>
                        Boa prática de desenvolvimento, consiste em (Princípio da Responsabilidade Única, Princípio do Aberto/Fechado,
                        Princípio da substituição de Liskov - As classes derivadas devem ser substituíveis por suas classes bases,
                        Princípio da segregação de interfaces, Princípio da inversão de dependência )
                    </td>
                </tr>

                <tr>
                    <td>Ajax</td>
                    <td>Responsável pelas chamadas aos serviços através dos métodos GET, POST, PUT, etc;</td>
                </tr>

                <tr>
                    <td>ASP .NET MVC</td>
                    <td>Aplicação dotnet utilizando arquitetura MVC (Model-View-Controllers)</td>
                </tr>

                <tr>
                    <td>Javascript e JQuery</td>
                    <td>Eventos e interação com frontEnd</td>
                </tr>

                <tr>
                    <td>HTML</td>
                    <td>Linguagem de marcação para interfaces visuais</td>
                </tr>

                <tr>
                    <td>CSS</td>
                    <td>Linguagem de estilização ( Cascading Style Sheet )</td>
                </tr>

            </tbody>

        </table>
    </div>
</div>


