body {



}


.btn-icon{
    width: 30px;
}



.btn-dark {
    color: teal;
    background-color: ghostwhite;
}

.btn-black-hover:hover{
    color:ghostwhite;
    background-color: teal;
}

.btn-dark:hover {
    color: ghostwhite;
    background-color: teal;
}


.message-success {
    background-color: #70DB9355;
    border-bottom-style: groove;
    border-top-style: groove;
    border-left-style: groove;
    border-right-style: groove;
}

.message-erro {
    background-color: #e6191955;
    border-bottom-style: groove;
    border-top-style: groove;
    border-left-style: groove;
    border-right-style: groove;
}


.table-teal{
    background-color: teal !important;
    color: white;
}
