html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.navbar-dark {
    background-color: teal !important;
}


.navbar-dark  a{
   
    color: white !important;
    
}

.icon {
    width: 40px;
    height: 30px;
}
li {
    list-style: none;
}

footer{
    background-color: #008080;
}

.footer a, .footer span, .footer div{
    color: ghostwhite;
}

.footer span{
    font-size: 20px;
}

.btn-close-white{
    cursor: pointer;
}


