

<div class="containter-fluid mt-5">
    <h2 id="lblCadastroDepartamento">Incluir departamento</h2>
    <hr />

    <div class="form-control-lg mt-5 ">
        <label>Nome departamento:</label>
        <input type="text" id="txtNomeDepartamento" placeholder="Exemplo: RH" class="col-md-6 mb-2 mt-2" style="width: 100%; " />
        <button id="btSalvarDepartamento" class="btn btn-dark" style="width: 100px;">Salvar</button>
    </div>


    <div id="mensagem-sucesso" class="form-control-lg mt-5 message-success d-none" style="background-color: #70DB9355">
        <img src="~/imgs/icone-confirmar1.png" style="width: 100px; margin-right: 70px;" class="mr-5" />
        <b>            <a>               Dados salvo com sucesso !           </a>       </b>
    </div>



    <div id="mensagem-erro" class="form-control-lg mt-5 message-erro d-none" style="background-color: #e6191955">
        <img src="~/imgs/erroIcon1.png" style="width: 100px; margin-right: 70px;" class="mr-5" />
        <b>            <a>               Ocorreu um erro, por favor tente novamente !           </a>       </b>
    </div>

</div>


